
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="~/zwtp_2_gi/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="~/zwtp_2_gi/js/jquery.js"></script>
    <script type="text/javascript">
$(function(){
	//顶部导航切换
	$(".nav li a").click(function(){
		$(".nav li a.selected").removeClass("selected")
		$(this).addClass("selected");
	})
})
    </script>

    <style>
        body {
        background-image:url(@Url.Content("~/zwtp_2_gi/images/topbg.gif"));  
        background-repeat: repeat-x;
        
        }
    </style>
</head>

<body style="">

    <div class="topleft">
        <a href="@Url.Action("Main")" target="_parent"><img src="~/zwtp_2_gi/images/logo.png" title="系统首页ed" /></a>
    </div>

    <ul class="nav">
        <li><a href="@Url.Content("~/zwtp_2_gi/default.html")" target="rightFrame" class="selected"><img src="~/zwtp_2_gi/images/ico01.png" title="工作台" /><h2>工作台</h2></a></li>
        <li><a href="@Url.Content("~/zwtp_2_gi/imgtable.html")" target="rightFrame"><img src="~/zwtp_2_gi/images/icon02.png" title="模型管理" /><h2>模型管理</h2></a></li>
        <li><a href="@Url.Content("~/zwtp_2_gi/imglist.html")" target="rightFrame"><img src="~/zwtp_2_gi/images/icon03.png" title="模块设计" /><h2>模块设计</h2></a></li>
        <li><a href="@Url.Content("~/zwtp_2_gi/tools.html")" target="rightFrame"><img src="~/zwtp_2_gi/images/icon04.png" title="常用工具" /><h2>常用工具</h2></a></li>
        <li><a href="@Url.Content("~/zwtp_2_gi/computer.html")" target="rightFrame"><img src="~/zwtp_2_gi/images/icon05.png" title="文件管理" /><h2>文件管理</h2></a></li>
        <li><a href="@Url.Action("tab")" target="rightFrame"><img src="~/zwtp_2_gi/images/icon06.png" title="系统设置" /><h2>系统设置</h2></a></li>
    </ul>
    <div class="topright">
        <ul>
            <li><span><img src="~/zwtp_2_gi/images/help.png" title="帮助" class="helpimg" /></span><a href="#">帮助</a></li>
            <li><a href="#">关于</a></li>
            <li><a href="zwtp/login" target="_parent">退出</a></li>
        </ul>

        <div class="user">
            <span>admin</span>
            <i>消息</i>
            <b>5</b>
        </div>

    </div>
</body>
</html>
